/*PAGINA CONTACTO*/
/*CUADRO DE MENSAJERIA*/
.form-control{
    width: 400px;
    height: 150px;
}
.row, con{
    padding: 2px;
}
.botonenvio{
    margin: 15px;
    padding: 3px;
}
.formcont{
    color: $color-letra;
    font-family: "Arial", sans-serif;
    font-size: 68px;
    text-align: center;
}
.contac {
    color: $color-letra;
    font-family: "Arial", sans-serif;
}