@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Roboto:wght@400;700&display=swap');
*{
padding: 0;
margin:0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
/*FONDO DE SITIO WEB*/
body{
background-image: url('../public/images/21omxpw-768x480.jpg');
    font-family: Arial, sans-serif;
}
