    /*BARRA NAVEGADORA*/
    .nav-item{
        background-color: $color-fondo;
        }
        .nav-link{
        color: $color-letra;
        }
        .navbar-brand img{
        max-width: 350px;
        max-height: 350px;
        }