/*BARRA NAVEGADORA*/
header{
nav {
.nav-item{
    background-color: $color-fondo;
}
.nav-link{
    color: $color-letra;
}
.navbar-brand img{
    max-width: 350px;
    max-height: 350px;
}
.navbar{
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(70, 70, 69));
}
.nav-link{
	color: white;
}
.nav-link active{
color: white;
}
.navbar-collapse{
    background-color: black;
    padding: 10 30px;
    }
}
}