/*SUBTITULO DE BIENVENIDA EN INICIO*/
.subtitulo1{
    color: $color-letra;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 68px;
}
    /*VIDEO PRESENTACION*/
.video1{
    width: 826px;
    height: 415px;
    margin-left: 490px;
}