/*PAGINA OFERTAS*/
.card-body1{
    background-color:$color-fondo;
    color: $color-letra;
    font-family: "Arial", sans-serif;
    font-size: 68px;
    text-align: center;
.card-title1{
    background-color: $color-fondo;
    color: $color-letra;
    font-family: "Arial", sans-serif;
    font-size: 68px;
    text-align: center;
}
.card-text1{
    background-color: $color-fondo;
    color: $color-letra;
    font-family: "Arial", sans-serif;
    font-size: 68px;
    text-align: center;
}
.off1{
    color: rgb(255, 0, 0); 
    text-decoration: line-through;
}
}
