/*TITULOS*/
.titulo {
    background-image:linear-gradient(to left,red, yellow);
    color: $color-letra;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}